body, html {
  height: 100%;
  margin: 0;
}

.color-div {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.color-div form {
  text-align: center;
}

.color-div input {
  padding: 10px;
  font-size: 16px;
}

.new-color {
  font-weight: 600;
  width: 218px;
  height: 40px;
  text-align: center;
  background: gray;
  margin: 5px;
  margin-left: 6px;
  border-style: dashed;
  border: 2px solid antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
}